.contact-list {
    display: grid;
    max-width: 100%;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));

    .contact-item {
        display: grid;
        text-align: center;
        background-color: white;
        padding: 0.5rem;

        img {
            width: 60%;
            aspect-ratio: 1 / 1;
        }
    }
}