* {
    box-sizing: border-box;
}

ul, button, h2, h3, li, body {
    margin: 0;
    padding: 0;
}

html, body, #root {
    height: 100%;
    background-color: antiquewhite;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

button {
    border: none;
    background-color: burlywood;
    cursor: pointer;
    border-radius: 0.5rem;
    height: fit-content;
    padding: 0.5rem;
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
}