.grid {
    display: grid;

    &.column {
        grid-auto-flow: column;
    }
}

.btn {
    border: none;
    background-color: burlywood;
    cursor: pointer;
    border-radius: 0.5rem;
    height: fit-content;
    padding: 0.5rem;
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
}